__pycache__/
.continue/ 

.env

# Runtime stuff
.lmcontrol_venv
.kodo_venv

dev/

lmcontrol.log
kodo.log

settings.json

venv/

dbg_actor_model.txt
dbg_make_ollama_request.txt
initialised.txt
prompts/custom_instructions.md
