__pycache__/
.continue/ 
# Experimenting with Local AI Autocomplete Models
.env

# Runtime stuff
.lmcontrol_venv
.kodo_venv

dev/

# WIP and Proposed Features that are not ready to ship
modules/
lmcontrol.log

settings.json
venv/
dbg_actor_model.txt
dbg_make_ollama_request.txt
initialised.txt
